<!DOCTYPE html>
<html lang="ja" ng-app="app">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="GoogleSearch">
    <div class="container">
      <div class="row">
        <h2>Google Search</h2>
      </div>
      <div class="row">
        <form class="form-inline" role="form" ng-submit="doSearch()">
          <input type="search" class="search-query form-control" placeholder="Search" ng-model="query" />
        </form>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row" ng-repeat="result in results.responseData.results" ng-cloak>
        <h4>
          <a href="{{ result.url }}"><span ng-bind-html="result.title"></span></a>
        </h4>
        <p ng-bind-html="result.content"></p>
      </div>
    </div>
    <hr>
    <br>
  </body>
</html>
